## Final Project Submission

Please fill out:
* Student name: Pengju Sun
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

1. Import necessary Packeages

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%matplotlib inline

2.Import Datasets

In [7]:
#Data Source 1 imdb.title.basics = df_basics
df_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz', compression = 'gzip')
#Data Source 2 imdb.title.ratings = df_rating
df_rating = pd.read_csv('zippedData/imdb.title.ratings.csv.gz', compression = 'gzip')
#Data Source 3 bom.movie_gross = df_movie_gross
df_movie_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz', compression = 'gzip')

In [9]:
df_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"